
@media (max-width: 1100px) {
    .container {
        width: 90%;
    }

    .form {
        flex-direction: column;
    }

    .left-block {
        margin-bottom: 15px;
    }

    .right-block {
        max-width: 720px;
    }

}

